html, body {
  box-sizing: border-box;
  background-color: #2A3817;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #f0b11b;
  height: 100%;
  width: 100%;
}
a, a:hover {
  text-decoration: none;
  color: #f0b11b;
}

.navbar {
  background-color: #2d2926;
}
.border{
  border-color:#f0b11b;
}
.OGeel{
  color:#f0b11b;
}
.blackbg {
  background-color: #2d2926;
}
aside{
  border-radius: 5%;
}
.rounded {
  border-radius: 5%;
}
