html, body {
  box-sizing: border-box;
  background-color: #2A3817;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #f0b11b;
  height: 100%;
  width: 100%;
}
a, a:hover {
  text-decoration: none;
  color: #f0b11b;
}

.navbar {
  background-color: #2d2926;
}
.border{
  border-color:#f0b11b;
}
.OGeel{
  color:#f0b11b;
}
.navbar-toggler {
  border-color: #f0b11b !important;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23f0b11b' stroke-width='2' stroke-linecap='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.dropdown-item.active,
.dropdown-item:active {
  background-color: #f0b11b !important; 
  color: #000 !important;                
}
.dropdown-item:hover {
  background-color: #f0b11b;
  color: #000;
}
.blackbg {
  background-color: #2d2926;
}
aside{
  border-radius: 5%;
}
.rounded {
  border-radius: 5%;
}


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


footer {
  margin-top: auto;
}