html, body {
  box-sizing: border-box;
  background-color: #2A3817;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #E5D238;
  height: 100%;
  width: 100%;
}
a, a:hover {
  text-decoration: none;
  color: #ff0000;
}

.navbar {
  background-color: #a7f83d;
}